html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}
.app-container {
    position: relative;
}

.form-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}
.leaflet-top.leaflet-left .leaflet-control-zoom {
    display: none;
}
